<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="LeCodio Template Page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeCodio - Template</title>
    <link rel="stylesheet" href="/template/template.css">
</head>

<body>

<head>
    <nav>

    </nav>
</head>

<footer>
    <div id="navigation">
        <p>Navigation: </p>
        <a href="">Home Page</a>
        <a href="">HTML Page</a>
        <a href="">CSS Page</a>
        <a href="">SQL Page</a>
        <a href="">Python Page</a>
        <a href="">About Us</a>
    </div>
    <p>Copyright ©2025. Or something.</p>

</footer>

</body>

</html>