@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


body { /* Width is determined. */
    width: 1500px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    background-color: #118282;
    justify-content: center;
    width: 1500px;
    text-decoration: none; /* Stop link from being blue automatically*/
    height: 100px;
}


#aboutus {
    width: 300px;
    margin-left: 430px;
    font-size: 30px;
    text-decoration: none;
}

#logo {
    width: 110px;
    margin-left: 10px;
    margin-right: 10px;
}

.language {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding-left: 70px;
    justify-content: center;
    text-align: center;
    }

#nav-languages-buttons {
    margin-right: 50px;
    display: flex;
    width: auto;
}
nav a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.dropdown-content { /* To hide the dropdown menu*/
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }

.dropdown-content a:hover { /* To show the dropdown menu when the user is hovering over it*/
    background-color: rgb(168, 178, 180);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.language:hover, #aboutus:hover {
    text-decoration: underline;
}




#hero-image {
    display: flex;
    height: 365px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #24272e;
}

#hero-left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    font-size: 50px;  
    margin: 0 auto;
    width: 750px;
}

#hero-html {
    padding-left: 400px;
    color: #1C9CA2;
}

#hero-right-side {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 750px;
    display: flex;
    align-items: center;
    background-image: url(/images/code-hero-image.png);
}

#get-started {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: #118282;
    width: 222px;
    height: 54px;
    border-radius: 20px;
    transition: 1s;
    border-color: black;
    border-style: solid;

}

#get-started:hover {
    transform: scale(1.2);
    transition: 1s;
    text-decoration: underline;
    border-width: 3px;
}

#select-language {
    margin-top: 30px;
    margin-bottom: 30px;
}


.index-language-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    width: 320px;
    height: 100px;
    background-color: #118282;
    border-radius: 30px;
    text-decoration: none;
    transition: 1s;
    color: white;
    border: black;
    border-style: solid;
}

.index-language-buttons:hover {
    border-width: 3px;
    transform: translate(0, -10px);
    text-decoration: underline;
}

.index-language-buttons-text {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: lighter;
}

#select-language {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#index-main {
    background-color: #8ccdd3;
}

#selection-below-buttons {
    display: flex;
    justify-content: center;

}


#ncea-selection {
    display: flex;
}

#ncea-main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 230px;
    height: 385px;
    background-image: url(/images/ncea-small.jpg);
    margin-bottom: 50px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: solid;
    border-radius: 30px;
    transition: 1s;
}

#ncea-main-button:hover {
    border-width: 3px;
    transform: scale(1.1);
    text-decoration: underline;
}

#ncea-main-button-text {
    font-weight: bold;
    font-size: 20px;
}

#ncea-level-buttons-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 70px;
}

.ncea-level-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    margin-left: 20px;
    width: 375px;
    height: 100px;
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-style: solid;
    border-radius: 10px;
    transition: 1s;
}

.ncea-level-buttons:hover {
    border-width: 3px;
    text-decoration: underline;
    transform: scale(1.1);
    transition: 2s;
}

#ncea-level-1 {

    background-image: url(/images/level-1-bg.jpg);
}

#ncea-level-2 {
    background-image: url(/images/level-2-bg.jpg);
}

#ncea-level-3 {
    background-image: url(/images/level-3-bg.jpg);
}

#blurb-title {
    font-size: 30px;
}

#programming-blurbs {
    width: 600px;
    font-size: 20px;
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.outside-link {
    color: #0588A8;
}










#documentation-template {
    display: flex;
}

#documentation-sidebar-background {
    background-color: #118282;
}

#documentation-sidebar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.documentation-sidebar-element {
    display: flex;
    padding-left: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    height: 40px;
    margin-top: 0px;
    padding-top: 0px;
    align-items: center;
}

.documentation-sidebar-element:hover {
    background-color: #09a5ba;
}



.documentation-title {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding-left: 20px;
    font-weight: bold;
    margin-bottom: 3px;
}

.documentation-section-title {
    font-size: 40px;
    font-weight: bold;
}

.documentation-language {
    margin-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.documentation-description {
    margin-top: 5px;
}

.documentation-code-example {
    padding-left: 15px;
    margin-left: 20px;
    background-color: black;
    color: white;
    font-family: "Fira Code", monospace;  
    width: 800px;
    height: 100px;
    border-width: 5px;
    border-style: solid;
    border-color: #cbe0e9;
    border-radius: 20px;
}











#ncea-hero-combined {
    display: flex;
}

#ncea-hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    width: 935px;
    height: 330px;
    background-image: url(/images/ncea-bg-reversed.png);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 0px;
}

#ncea-hero-blurb {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    width: 575px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8ccdd3;
    margin: 0px;
    padding-right: 70px;

}

#ncea-page-level-buttons-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.ncea-page-level-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    width: 375px;
    height: 100px;
    margin-top: 30px;
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-style: solid;
    border-radius: 10px;
    transition: 1s;
    margin: 30px;
}

.ncea-page-level-buttons:hover {
    text-decoration: underline;
    transform: scale(1.1);
    transition: 2s;
}

#ncea-page {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ncea-page-level-title {
    font-weight: bold;
    font-size: 50px;
}

.ncea-page-title-credits {
    display: flex;
    flex-direction: row;
    height: 100px;
}

.ncea-page-level-total-credits {
    margin-top: 80px;
    margin-left: 10px;
    font-size: 20px;
}

.standards-infos {
    margin-top: 0px;
    margin-left: 25px;
    font-size: 20px;
}

.ncea-page-more-info {
    margin-left: 50px;
}

.ncea-page-more-info li {
    margin-left: 20px;
}







#about-us-page {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about-us-gallery a{
    color: black;
    text-decoration: none;
}

#about-us-gallery a:hover {
    text-decoration: underline;
}










#footer {
    background-color: #118282;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-top: 15px;
}

#footer-navigation {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.footer-nav-link {
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-left: 35px;
}

.footer-nav-link:hover {
    text-decoration: underline;
}

#email {
    margin: 0;
    display: flex;
    justify-content: center;
}

#footer-copyright {
    margin: 0;
    display: flex;
    justify-content: center;
}